/* grid */
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 6px;
}
    
.div1 {
    grid-column: span 10 / span 10;
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div2 {
    grid-column-start: 10;
    grid-row-start: 1;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
}

/* button */
.btn-tambah {
    font: inherit;
    background-color: hsl(210deg 100% 44%);
    border: 0;
    color: #fafafa;
    border-radius: 0.5em;
    font-size: 1rem;
    padding: 0.25em 0.75em;
    font-weight: 600;
    /* text-shadow: 0 0.0625em 0 #c9c7c7; */
    /* box-shadow:hsl(210deg 87% 36%) 0px 7px 0px 0px; */
    /* transition: 0.15s ease; */
    cursor: pointer;
    margin-left: 20px;
    /* width: 130px; */
}

.btn-tambah:hover {
    background-color: hsl(210deg 100% 54%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-tambah-borrowers {
  font: inherit;
  background-color: hsl(210deg 100% 44%);
  border: 0;
  color: #fafafa;
  border-radius: 0.5em;
  font-size: 0.95rem;
  padding: 0.25em 0.75em;
  font-weight: 600;
  /* text-shadow: 0 0.0625em 0 #c9c7c7; */
  /* box-shadow:hsl(210deg 87% 36%) 0px 7px 0px 0px; */
  /* transition: 0.15s ease; */
  cursor: pointer;
  margin-left: 20px;
  width: 120px;
}

.btn-tambah-borrowers:hover {
  background-color: hsl(210deg 100% 54%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  

/* search */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  /* input gambar */
  .input {
  display: none;
  }

  .labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
  background: #f5f5f5;
  margin-bottom: 10px;
  }